.container
  .row
    .col-md-12
      %h1.title Welcome to Stocks page

      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th Name
            %th Created At
            %th
        %tbody
          = render @stocks