.container
  .row
    .col-md-12
      %h1.title Price History for stock: #{@stock.name}

      %table#prices.table.table-striped
        %thead
          %tr
            %td ID
            %td Date
            %td Price
        %tbody
          = render @prices